
img {
	max-width: 100%;
}
.white {
	color: #fff;
}
.black {
	color: #1d1d1f;
}
.grey {
	color: #86868b;
}
.top-50 {
	padding-top: .2em;
    height: 2em;
} 
/* Header Style */

.equal{
    font-family: "fontawesome";
    content: \f52c; 
    
}



.One{
    margin-top: 3em; 
    text-align: center;
    /* background-color: #fff; */
    font-size: .95em;

}

.one .container p{
    /* margin-bottom: 2em; */
    vertical-align: middle; 
}
.nav-wrapper {
    background:black;
    font-size: 0.85em;
    font-weight: 200;
    opacity: 1;
  
  }
  .nav-wrapper ul li a {
      color: #fff;
  }
  .navbar-toggler {
      color: #fff;
  }
  .nav-item {
      text-align: left !important;
      padding: 4px 0;
      border-bottom: 1px solid #4b4b4b;
    
  }
 /* .collapse .nav-item ul li:last-child{
        border-bottom: 0px;
        padding-bottom: 300px;;
    } */
  .links-wrapper a :hover{
      text-decoration: underline;
  }
   .links-wrapper a {
       text-decoration: none !important;
   }


  /* footer */
.buy{
    font-weight: 400;
    font-size: 36px;
    line-height: .75em;
    letter-spacing: -0.04em; 
}
.not{
    display: none;
}
  
  .footer-wrapper {
    background-color: #f5f5f7;
    color: #86868b;
    font-size: .7em;
  }
  .footer-wrapper ul {
      list-style: none;
      padding-bottom: 10px;
      padding-inline-start: 0px;
  }
  .footer-wrapper ul a {
      color: #515154;
  }
  .my-apple-wrapper {
      padding-bottom: 15px;
    margin-top: 10px;
  }
  .copyright {
      margin-top: 15px;
  }
  .footer-country {
      margin-top: 8px;
  }
  .flag-wrapper {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
  }
  .footer-country-name{
      display: inline-block;
      vertical-align: middle;
  }
  .footer-links-terms ul {
      display: flex;
  }
  .footer-links-terms ul li {
      padding: 0 10px;
      border-right: 1px solid #d2d2d7;
  }
  .footer-links-terms ul li:first-child {
      padding-left: 0;
  }
  .footer-links-terms ul li:last-child {
      border-right: 0;
  }
  
  .footer-links-wrapper h3 {
      font-size: 12px;
      font-weight: 600;
      color: #1d1d1f;
  }
  .footer-wrapper ul li{
      padding: 4px 0;
  }

   .footer-links-wrapper ul li a{
         text-decoration: none;
     } 
    .footer-links-wrapper ul li a:hover {
      color: #000;
      text-decoration: underline;

        } 

  .upper-text-container {
      border-bottom: 1px solid #d2d2d7;
      padding: 17px 0 10px;
      margin-bottom: 20px;
  }
  .upper-text-container a {
      color: #515154;
  }.footer-wrapper {
    background-color: #f5f5f7;
    color: #86868b;
    font-size: .7em;
  }
  .footer-wrapper ul {
      list-style: none;
      padding-bottom: 10px;
      padding-inline-start: 0px;
  }
  .footer-wrapper ul a {
      color: #515154;
  }
  .my-apple-wrapper {
      padding-bottom: 15px;
    margin-top: 10px;
  }
  .copyright {
      margin-top: 15px;
  }
  .footer-country {
      margin-top: 8px;
  }
  .flag-wrapper {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
  }
  .footer-country-name{
      display: inline-block;
      vertical-align: middle;
  }
  .footer-links-terms ul {
      display: flex;
  }
  .footer-links-terms ul li {
      padding: 0 10px;
      border-right: 1px solid #d2d2d7;
  }
  .footer-links-terms ul li:first-child {
      padding-left: 0;
  }
  .footer-links-terms ul li:last-child {
      border-right: 0;
  }
  
  .footer-links-wrapper h3 {
      font-size: 12px;
      font-weight: 600;
      color: #1d1d1f;
  }
  .footer-wrapper ul li{
      padding: 4px 0;
  }
  .upper-text-container {
      border-bottom: 1px solid #d2d2d7;
      padding: 17px 0 10px;
      margin-bottom: 20px;
  }
  .upper-text-container a {
      color: #515154;
  }
  /*Sixth Section*/
   .sixth-heghlight-wrapper .left-side-wrapper .left-side-container{
      background-image:  url("../images/home/spyder.jpg"); 
      background-color: #000;
      background-position: bottom;
      padding-top: 35px;
      margin: 0 0 10px 0;
      background-size: cover;		
  }
  .sixth-heghlight-wrapper .right-side-wrapper .right-side-container{
      background-image:  url("../images/home/apple-card-monthly.jpg"); 
      background-color: #fbfbfd;
      background-position: center;
      padding-top: 35px;
      margin: 0 0 10px 0;
      background-size: contain;	
  }
  
  .left-side-container {
      min-height: 515px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;	
  }
  
  .right-side-container {
      min-height: 515px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;	
  }
  .left-side-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .right-side-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .sixth-heghlight-wrapper .links-wrapper {
      max-width: 300px;
      margin: 0 auto;
  }
  .ted{
      padding-top: 355px;
  }
  .links-wrapper ul {
      list-style: none;
  }
  .product-title {
      font-weight: 700;
      font-size: 56px;
  }
  .brief-description {
      font-size: 1em;
  }
  .sixth-heghlight-wrapper .description-wraper {
      max-width: 250px;
      margin: 7px auto;
  }
  .sidth-heghlight-wrapper a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f360";
    padding-left: 10px;
  }
  .description-wraper.white{
      color: white;
  }
  .links-wrapper {
      padding: 15px 0;
  }
  .links-wrapper ul li {
      display: inline-block;
      padding-right: 20px;
  }
  .links-wrapper ul li a {
      color: #06c;
      text-decoration: none;
      font-size: 21px;
  }
  .links-wrapper ul li a:hover {
      color: #000;
      text-decoration: underline;
  }
  .links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
    
  }
  .title-wraper {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
  }
  .title-wraper.bold {
    font-weight: 600;
    font-size: 36px;
    line-height: .75em;
    letter-spacing: -0.04em;
  }
  .right-side-wrapper .title-wraper {
      max-width: 280px;
      margin: 0 auto;
  } 
  .description-wrapper {
      font-size: 20px;
      padding: 10px 0;
  }
  /*Fifth Section*/
   .fifth-heghlight-wrapper .left-side-wrapper .left-side-container{
      background-image:  url("../images/home/actors.jpg"); 
      background-color: #000;
      padding-top: 35px;
      margin: 0 0 10px 0;
      background-size: cover;		
  }
  .fifth-heghlight-wrapper .right-side-wrapper .right-side-container{
      background-image:  url("../images/home/watch.jpg"); 
      background-color: #fbfbfd;
      background-position: bottom;
      padding-top: 35px;
      margin: 0 0 10px 0;
      background-size: auto;	
  }
  .fifth-heghlight-wrapper .description-wraper {
      max-width: 450px;
      margin: 7px auto;
  }
  .watch-more-wrapper a {
      text-decoration: none;
      font-size: 0.85em;
      color: #fff;
  }
  .watch-more-wrapper a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
  }
  .tvshow-logo-wraper {
      padding: 340px 0 0px;
  }
  /* sixth highlight */

  .sixth-heghlight-wrapper .left-side-wrapper .left-side-container{
    background-image:  url("../image/promo_spatial_audio_taylor_swift__d0ewry6j28qe_small.jpeg"); 
    background-color: #fff;
    padding-top: 35px;
    margin: 0 10px 10px 0;
    background-size: cover;
    background-position: bottom;
    color: white;		
}
.sixth-heghlight-wrapper .right-side-wrapper .right-side-container{
    background-image:  url("../image/promo_ted_lasso_s2__gfwcnecoabu6_small.jpeg"); 
    background-color: #fff;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 10px 0 10px;
    background-size: auto;}
  /* Fifth hightlight */
  .fifth-heghlight-wrapper .left-side-wrapper .left-side-container{
    background-image:  url("../image/promo_bts__bg3cb4kaoqoi_small.jpeg"); 
    background-color: #fff;
    padding-top: 35px;
    margin: 0 10px 10px 0;
    background-size: cover;
    background-position: bottom;
    height: 580px;		
}
.fifth-heghlight-wrapper .right-side-wrapper .right-side-container{
    background-image:  url("../image/promo_tile_taa_product_skills__4unq1d3k5iai_small.jpeg"); 
    background-color: #fff;
    background-position: bottom;
    padding-top: 20px;
    margin: 0 10px 0 10px;
    background-size: cover;
    height: 580px;
}
.fifth-link{
  padding-bottom: 100px;
  padding-top: 1px;
}
  /* Fourth section */
  .forth-heghlight-wrapper .left-side-wrapper .left-side-container{
      background-image:  url("../image/promo_imac__crg641tip4q6_small.jpeg"); 
      background-color: #fff;
      padding-top: 35px;
      margin: 10pc 10px 10px 010px;
      background-size: cover;
      background-position: bottom;		
  }
  .forth-heghlight-wrapper .right-side-wrapper .right-side-container{
      background-image:  url("../image/promo_watchms_series_6_lte__f8lrasjnry2y_small.jpeg"); 
      background-color: #000;
      background-position: bottom;
      padding-top: 35px;
      margin: 0 0 10px 0;
      background-size: auto;	
  }
  .links-wrapper.white li a {
      color: #fff;
  }
  .fourth-heghlight-wrapper .right-side-wrapper .title-wraper {
      max-width: 280px;
    
  }
  .forth-heghlight-wrapper .description-wraper{
    color: white;
  }
  /*Third section*/
  .third-hightlight-wrapper {
      background-image: url("../image/hero_ipadms_pro_non_avail__fcrsmhs4b7ma_small.jpeg");
      height: 580px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: black;
      background-size: cover;
      text-align: center;
      padding: 65px 20px;
      color: #fff;
  }
  .third-heghlight-wrapper .left-side-wrapper .left-side-container{
    margin: 5px 5px 10px 5px; 
  }
  .third-heghlight-wrapper .right-side-wrapper .left-side-container{
    margin: 10px 10px 5px 10px; 
  }
  /*Second section*/
  .second-hightlight-wrapper {
      background-image: url("../image/iphone_12ms_pro_us__e5oyysg4k0ya_small.jpeg");
      height: 545px;
      background-position: bottom;
      background-repeat: no-repeat;
    background-size: initial;
    background-color: black;
      text-align: center;
      padding: 65px 20px;
      color: #fff;
      margin-bottom: 10px;	
  }
  /*First Section*/
  .first-hightlight-wrapper{
      background-image: url("../image/iphone_12ms_updated__jepm2xpxncuy_small.jpeg");
      height: 580px;
      background-position: bottom;
      background-repeat: no-repeat;
    background-size: initial;
    background-color: #fbfbfd;
      text-align: center;
      padding: 65px 20px;
      color: #fff;	
      margin-bottom: 10px;
  }
  .ipod-caption {
      color: #86868b;
      font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;		
    padding-top: 310px;
  }
  /* Alert section */
  .alert-section {
      text-align: center;
      padding: 20px;
  }
  /* .alert-title {
      font-weight: 600;
      color: #1d1d1f;
      padding: 10px;
  }
  .alert-text {
      max-width: 90%;
      margin: 0 auto;
  }  */
  .sert{
      display: none;
  }
  /*Media Query*/
  /* Footer */
  @media (max-width: 768px){
      .footer-links-wrapper ul {
          display: none;
      }
      .footer-links-wrapper h3 {
          padding: 10px 0;
          /* border-bottom: 1px solid #ccc; */
          border-top: 1px solid #ccc;
      }
     .footer-links-wrapper .links-wrapper-1 :nth-child(1){
          border-top: none;
      }
      .footer-links-wrapper ul li{
          padding-left: 15px;
      }
      .links-wrapper-5 .today{
            padding: 10px 0;
           border-top: 1px solid #ccc;
      } 
         .my-apple-wrapper{
          border-top: none; 
          margin-top: -3px; 
          padding: 10px 0;
           border-top: 1px solid #ccc;
      }   

         .footer-links-wrapper:last-child {
            border-bottom: 1px solid #ccc;
         }


      .footer-links-wrapper h3:after {
          font-family: "FontAwesome";
          content: '+';
          /* content: "\f067"; */
          padding-left: 10px;
          position: absolute;
          right: 25px;
      }
      .footer-links-wrapper h3.iconRotator:after {
	/* content: "\f00d"; */
    /* content: 'x'; */
	transform: rotate(45deg); 
        }
    
      .first-hightlight-wrapper{
        background-image: url("../image/iphone_12ms_updated__jepm2xpxncuy_small.jpeg");
        height: 530px;
        background-position: bottom;
        background-repeat: no-repeat;
      background-size: initial;
      background-color: #fbfbfd;
        text-align: center;
        padding: 65px 20px;
        color: #fff;	
        margin-bottom: 10px;
    }
     
  }
  @media (min-width: 768px) {
      /*Nav bar*/
      .nav-item {
          text-align: center !important;
          padding: 0;
            border-bottom: 0px;
        }

 .header .nav-link-wrapper ul li {
            padding: 14px 0 8px;
            height: 25px;
            opacity: 0.5;
      }	
      .header .nav-link-wrapper ul li a :hover{
          color: white;
      }
      .ser{ 
          display: none;
      }
      .sert{
          display: flex;
      }
.none{
    display: none;
}
  
	.nav-item {
		text-align: center !important;
		padding: 0;
		border-bottom: 0px;}

     .container{
            width: 960px;
        }
       	
        .header .nav-link-wrapper ul li {
            /* display: inline-block; */
            padding: 14px 0 8px;
            height: 25px;
            opacity: 0.5;
    }
    .break{
        display: none;
    }
      /*Footer styling*/
      .my-apple-wrapper {
          border-bottom: 1px solid #d2d2d7
      }
    
      /*Sixth section*/
      /* .sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
          margin: 5px 10px 10px 10px;
      }
      .sixth-heghlight-wrapper .right-side-wrapper .right-side-container {
          margin: 5px 10px 10px 5px;
      }	
      .sixth-heghlight-wrapper .links-wrapper {
          max-width: 500px;
      }	 */
      /*Fifth section*/
      .fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
          margin: 5px 5px 5px 10px;
      }
      .fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
          margin: 5px 10px 5px 5px;
      }
      /*fourth section*/
      /* .fourth-heghlight-wrapper .left-side-wrapper .left-side-container {
          margin: 5px 5px 5px 10px;
      } */
      .forth-heghlight-wrapper .left-side-wrapper .left-side-container{
        background-image:  url("../image/imac.jpeg"); 
        background-color: #fff;
        padding-top: 35px;
        margin: 0 0 10px 0;
        background-size: cover;
        background-position: bottom;		
    }
      .fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
          margin: 5px 10px 5px 5px;
      }		
      .title-wraper.bold {
        font-size: 56px;
      }
      /* third highligh */
      .third-hightlight-wrapper{
        min-height: 692px;
        background-image: url("../image/ipad_pro.jpeg")
      }


      /* Second section */
      .second-hightlight-wrapper {
          min-height: 692px;
          background-image: url("../image/iphone_12_pro_us__e5oyysg4k0ya_medium.jpeg");
      }
      .new-alert {
          color: #BF4801;
          font-size: 18px;
      }
      /* First section */
      .first-hightlight-wrapper {
          background-image: url("../image/iphone_12_updated__jepm2xpxncuy_medium.jpeg");
          min-height: 692px;
      }	
      .ipod-caption {
        padding-top: 415px;
      }	
      /*Alert section*/
      .alert-text {
          max-width: 85%;
          margin: 0 auto;
      }	 
      .buy{
        font-weight: 400;
        font-size: 36px;
        line-height: .75em;
        letter-spacing: -0.04em; 
    }
    .not{
        display: block;
    }
     
  }
  @media (min-width: 992px) {
      /*Footer styling*/
      .copyright {
          margin-top: 10px;
      }
      .footer-country {
          margin-top: 10px;
      }
      .footer-links-terms {
          margin-top: 10px;
      }	
  }
/* <div class="fa-4x"> 
  <i class="fas fa-snowboarding"></i>
  <i class="fas fa-snowboarding fa-rotate-90"></i>
  <i class="fas fa-snowboarding fa-rotate-180"></i>
  <i class="fas fa-snowboarding fa-rotate-270"></i>
  <i class="fas fa-snowboarding fa-flip-horizontal"></i>
  <i class="fas fa-snowboarding fa-flip-vertical"></i>
  <i class="fas fa-snowboarding fa-flip-both"></i>
</div>

<i class="bi bi-arrow-up-right"></i>
https://icons.getbootstrap.com/icons/arrow-up-right/
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">*/ 
